.lines{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;
}

.line{
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;

  &::after{
    content: '';
    display: block;
    position: absolute !important;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(235, 78, 78, 0.5) 75%, rgba(235, 78, 78, 0.5) 100%) !important;
    animation: 5s cubic-bezier(0.4, 0.26, 0, 0.97) 0s infinite normal forwards running drop;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  &:nth-child(1){
    margin-left: -40%;
    &::after{
      animation-delay: 0.25s 
    }
  }
  &:nth-child(2){
    margin-left: -25%;
    &::after{
      animation-delay: 3s 
    }
  }
  &:nth-child(3){
    margin-left: -10%;
    &::after{
      animation-delay: 1.5s
    }
  }
  &:nth-child(4){
    margin-left: 5%;
    &::after{
      animation-delay: 5s
    }
  }
  &:nth-child(5){
    margin-left: 20%;
    &::after{
      animation-delay: 3.5s
    }
  }
  &:nth-child(6){
    margin-left: 30%;
    &::after{
      animation-delay: 4s 
    }
  }
  &:nth-child(7){
    margin-left: 40%;
    &::after{
      animation-delay: 2.75s 
    }
  }
}
    
@keyframes drop{
  from{
    top: -20%;
  }
  to{
    top: 110%;
  }
}